.banner {
    position: fixed;
    width: 100%;
    top: 0;
    height: 17%;
    background-color: #008b00;
    text-align: center;
}

.banner h1 {
    margin-bottom: 5%;
    color: white;
    font-size: 150%;
}

.banner h2 {
    color: white;
    font-size: 100%;
}

.body-container {
    margin-top: 40%;
}

#description {
    width: 90%;
    color: white;
    background: #388E3C;
    resize: none;
    border-radius: 3%;
    border: none;
    font-size: 110%;
    text-align: left;
}

#quantity-container label {
    text-align: center;
    display: block;
    margin-top: 6%;
    margin-bottom: 4%;
}

#quantity {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
    width: 15%;
    padding: 2%;
    border-radius: 5px;
}

#quantity-container button {
    width: 10%;
    padding: 2%;
    height: 20%;
    font-size: 100%;
    border-radius: 8%;
    border: none;
    background-color: #388E3C;
    color: white;
    transition: background 0.1s;
}

#quantity-container button:active {
    background: #1B5E20 radial-gradient(circle, transparent 1%, #1B5E20 1%) center/15000%;
    transition: background 0s;
}

#price-container {
    height: 10%;
    background-color: #66BB6A;
    position: fixed;
    bottom: 10%;
    width: 100%;
}

#price {
    margin-left: 5%;
}

.div-button {
    height: 100%;
    float: left;
    width: 50%;
}

.btn {
    height: 100%;
    width: 50%;
    border-radius: 30%;
    background-color: transparent;
    border: none;
    transition: background 0.2s;
}

.btn:active {
    background: #1B5E20 radial-gradient(circle, transparent 1%, #1B5E20 1%) center/15000%;
    transition: background 0s;
}