body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: white;
    font-family: 'Inconsolata', monospace;
}

::-webkit-input-placeholder {
    font-family: 'Inconsolata', monospace; 
}

input.btn {
    font-family: 'Inconsolata', monospace;
}

.template-icon {
    color: white;
    font-size: 180%;
}

.container {
    text-align: center;
}

.banner {
    position: fixed;
    width: 100%;
    top: 0;
    height: 20%;
    background-color: #008b00;
    text-align: center;
}

.banner h1 {
    margin-bottom: 0;
    color: white;
    font-size: 150%;
}

.banner h2 {
    margin-top: 10%;
    color: white;
}

.body-container {
    margin-top: 40%;
}

#description {
    width: 90%;
    color: white;
    background: #388E3C;
    resize: none;
    border-radius: 3%;
    border: none;
    font-size: 110%;
    text-align: left;
}

#quantity-container label {
    text-align: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 4%;
}

#quantity {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    width: 15%;
    padding: 2%;
    border-radius: 5px;
    border-box
}

#quantity-container button {
    width: 10%;
    padding: 2%;
    height: 20%;
    font-size: 100%;
    border-radius: 8%;
    border: none;
    background-color: #388E3C;
    color: white;
}

#quantity-container button:active {
    background-color: white;
}

.banner-button {
    height: 9%;
    background-color: #008b00; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.div-button {
    height: 100%;
    float: left;
    width: 50%;
}

.text-icon {
    display: block;
    color: white;
}

.btn {
    height: 100%;
    background-color: transparent;
    border: none;
    transition: background 0.8s;
}

.btn:hover {
    background: rgb(44, 130, 201) radial-gradient(circle, transparent 1%, rgb(44, 130, 201) 1%) center/15000%;
}

.btn:active {
    background-color: rgb(3, 94, 160);
    background-size: 100%;
    transition: background 0s;
}