body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(236, 236, 236);
    font-family: 'Inconsolata', monospace;
}

::-webkit-input-placeholder {
    font-family: 'Inconsolata', monospace; 
}

input.btn {
    font-family: 'Inconsolata', monospace;
}

.template-icon {
    color: white;
    font-size: 180%;
}

.container {
    text-align: center;
}

.banner {
    position: fixed;
    width: 100%;
    top: 0;
    height: 9%;
    background-color: rgb(44, 130, 201);
    text-align: center;
}

.banner-button {
    height: 9%;
    background-color: rgb(44, 130, 201); 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.div-button {
    height: 100%;
    float: left;
    width: 50%;
}

.text-icon {
    display: block;
    color: white;
}

.text-banner {
    color: white;
    font-size: 150%;
}

.btn {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    transition: background 0.8s;
}

.btn:hover {
    background: rgb(44, 130, 201) radial-gradient(circle, transparent 1%, rgb(44, 130, 201) 1%) center/15000%;
}

.btn:active {
    background-color: rgb(3, 94, 160);
    background-size: 100%;
    transition: background 0s;
}

.body-container {
    margin-top: 20%;
    margin-bottom: 20%;
    overflow-y: scroll;
}

.body-container {
    margin-top: 25%;
    margin-left: 7%;
    margin-right: 7%;
}

.label-field {
    display: block;
    text-align: left;
}

#name {
    width: 100%;
    padding: 2% 0% 2% 0%;
    background-color: rgb(242, 120, 75);
}

#name h2 {
    margin: 0;
    padding: 0;
}

#field-container {
    background-color: rgb(135, 211, 124);
}

#quantity-container {
    padding: 2% 0% 2% 0%;
    background-color: rgb(135, 211, 124);
}

#quantity-container label {
    text-align: center;
}

#description {
    padding: 2% 2% 2% 2%;
    text-align: left;
    overflow-y: scroll;
}

#quantity {
    margin: 3% 4% 3% 4%;
    text-align: center;
    width: 30%;
}