body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(236, 236, 236);
    font-family: 'Inconsolata', monospace;
}

::-webkit-input-placeholder {
    font-family: 'Inconsolata', monospace; 
}

input.btn {
    font-family: 'Inconsolata', monospace;
}

.template-icon {
    color: white;
    font-size: 180%;
}

.container {
    text-align: center;
}

.banner {
    position: fixed;
    width: 100%;
    top: 0;
    height: 9%;
    background-color: rgb(44, 130, 201);
    text-align: center;
}

.username {
    font-weight: bold;
}

.banner-button {
    height: 9%;
    background-color: rgb(44, 130, 201); 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.div-button {
    height: 100%;
    float: left;
    width: 50%;
}

.text-icon {
    display: block;
    color: white;
}

.text-banner {
    color: white;
    font-size: 150%;
}

.btn {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    transition: background 0.8s;
}

.div-cart {
    margin-top: 20%;
    margin-bottom: 20%;
    overflow-y: scroll;
}

.btn:hover {
    background: rgb(44, 130, 201) radial-gradient(circle, transparent 1%, rgb(44, 130, 201) 1%) center/15000%;
}

.btn:active {
    background-color: rgb(3, 94, 160);
    background-size: 100%;
    transition: background 0s;
}

/* ARTICLE */
.article {
    background-color: white;
    margin: 3%;
    padding: 3%;
    height: 100%;
}

.article h4 {
    margin: 0;
    margin-bottom: 5%;
}

.info-article {
    text-align: left;
    float: left;
    width: 65%;
    height: 100%;
}

.button-article {
    text-align: right;
    height: 100%;
    float: right;
    width: 30%;
    margin-right: 3%;
}

.button-article .btn-edit {
    padding: 2%;
    width: 90%;
    color: white;
    font-size: 65%;
    margin-bottom: 15%;
    border-radius: 8%;
    border: 1px solid rgb(255, 115, 0);
    background-color: orange;
}

.button-article .btn-delete {
    padding: 2%;
    width: 90%;
    color: white;
    font-size: 65%;
    border-radius: 8%;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(230, 27, 0);
}

@media screen and (min-width: 768px) and (max-width: 1024px)  { /* iPad/iPad Pro */
    .template-icon {
        font-size: 250%;
    }

    .text-icon {
        font-size: 150%;
    }

    .div-cart {
        font-size: 150%;
        margin-top: 15%;
        margin-bottom: 15%;
        overflow-y: scroll;
    }
}