.banner {
    position: fixed;
    width: 100%;
    top: 0;
    height: 17%;
    background-color: #008b00;
    text-align: center;
}

.banner h1 {
    margin-bottom: 5%;
    color: white;
    font-size: 150%;
}

.banner h2 {
    color: white;
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.username {
    font-weight: bold;
}

.div-button {
    height: 100%;
    float: left;
    width: 33.33%;
}

.btn {
    height: 100%;
    width: 60%;
    border-radius: 30%;
    background-color: transparent;
    border: none;
    transition: background 0.2s;
}

.btn:active {
    background: #1B5E20 radial-gradient(circle, transparent 1%, #1B5E20 1%) center/15000%;
    transition: background 0s;
}

/* ARTICLE */
.article {
    color: white;
    background-color: #388E3C;
    margin: 3%;
    padding: 3%;
    height: 100%;
}

.article h4 {
    margin: 0;
    margin-bottom: 5%;
}

.info-article {
    text-align: left;
    float: left;
    width: 65%;
    height: 100%;
}

.button-article {
    text-align: right;
    height: 100%;
    float: right;
    width: 30%;
    margin-right: 3%;
}

.button-article .btn-edit {
    padding: 2%;
    width: 90%;
    color: white;
    font-size: 65%;
    margin-bottom: 15%;
    border-radius: 8%;
    border: 1px solid rgb(255, 115, 0);
    background-color: orange;
    transition: background 0.2s;
}

.button-article .btn-edit:active {
    background: #E65100 radial-gradient(circle, transparent 1%, #E65100 1%) center/15000%;
    transition: background 0s;
}

.button-article .btn-delete {
    padding: 2%;
    width: 90%;
    color: white;
    font-size: 65%;
    border-radius: 8%;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(230, 27, 0);
    transition: background 0.2s;
}

.button-article .btn-delete:active{
    background: #DD2C00 radial-gradient(circle, transparent 1%, #DD2C00 1%) center/15000%;
    transition: background 0s;
}

#total {
    height: 10%;
    background-color: #66BB6A;
    position: fixed;
    bottom: 10%;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px)  { /* iPad/iPad Pro */
    .template-icon {
        font-size: 250%;
    }

    .text-icon {
        font-size: 150%;
    }

    .div-cart {
        font-size: 150%;
        margin-top: 15%;
        margin-bottom: 15%;
        overflow-y: scroll;
    }
}