.body-container {
    bottom: 0%;
    height: 90%;
}

input[type=search] {
    width: 80%;
    border: 2px solid #1B5E20;
    height: 6%;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

#list-article {
    margin-top: 10%;
}

.article {
    color: white;
    background-color: #388E3C;
    margin: 3%;
    padding: 3%;
    height: 100%;
    border-radius: 1%;
}

.info-article {
    text-align: left;
    float: left;
    width: 50%;
    height: 100%;
}

.button-article {
    text-align: right;
    height: 100%;
    float: right;
    width: 30%;
    margin-right: 3%;
}

.article h4 {
    margin: 0;
}

.after-div {
    clear: both;
}

.btn {
    padding: 5%;
    width: 90%;
    color: white;
    font-size: 65%;
    border-radius: 3%;
    border: 1px solid rgb(255, 115, 0);
    background-color: orange;
}

.btn:active {
    background: rgb(255, 81, 0) radial-gradient(circle, transparent 1%, rgb(255, 81, 0) 1%) center/15000%;
    transition: background 0s;
}