body {
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family: 'Inconsolata', monospace;
}

::-webkit-input-placeholder {
    font-family: 'Inconsolata', monospace; 
}

input.btn {
    font-family: 'Inconsolata', monospace;
}

.template-icon {
    color: white;
    font-size: 180%;
}

.container {
    text-align: center;
}

.banner {
    position: fixed;
    width: 100%;
    top: 0;
    height: 20%;
    background-color: #008b00;
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 150%;
}

.banner input[type=text] {
    margin-left: 5%;
    float: left;
    width: 80%;
    border: 3px solid #1B5E20;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

#search-button {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 15%;
    border: 1px solid #1B5E20;
    background: #1B5E20;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }